---
import type { ContactProps } from "@/sections/Contact.astro"

interface Props extends ContactProps {}

const { href, label, alt, value, icon } = Astro.props
---

<li class="group flex list-none items-start justify-start gap-5">
	<picture
		class="m-0 flex h-[3.75rem] w-[3.75rem] flex-none items-center justify-center rounded-full border border-solid border-tertiary [transition:transform_0.3s] group-hover:scale-110"
	>
		<img
			src={icon}
			alt={alt}
			aria-hidden="true"
			width="40"
			height="40"
			decoding="async"
			class="block h-auto w-6"
		/>
	</picture>
	<div>
		<span class="mb-3 block text-xl font-bold leading-[1.2em] text-black dark:text-white">
			{label}
		</span>
		<a
			href={href}
			target="_blank"
			class="relative block text-base leading-[1.5em] text-black hover:text-primary hover:underline dark:text-white"
		>
			{value}
		</a>
	</div>
</li>
